*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//============Variable
$color-primal: orange;
$color-second: red;

//============Mixin
@mixin header {
    color: black;
    background-color: $color-primal;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    line-height: 100px;

}

body{
    height: 100vh;
}

header{
    @include header();
}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .hl-container{
        border-radius: 30px;
        width: 500px;
        background-color: $color-second;
        padding: 20px;
        
    
        .container{
            text-align: center;
            display: block;
            width: 200px;
            margin: 0 auto;
            
                input{
    
                    width: 200px;
                    margin-top: 3px;
                    padding: 5px 10px;
                    border-radius: 20px;
                }
        }
        
        .container2{
            text-align: center;
            width: 100%;
            margin: 0 auto;
            margin-top: 30px;
            line-height: 30px;
           
            
                div{
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    background-color: $color-primal;
                    text-align: center;
                    line-height: 30px;
                    margin: 2px;
                    border-radius: 10px;
                    font-weight: bold;
                }
        
        }
    }

}


//////Zrušit u inptů vzhledy na tabulator